
body
{
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-size: 12px;
}

b
{
    font-size: 110%;
}
em
{
    color: red;
}

#maincontainer
{
    width: 840px; /*Width of main container*/
    margin: 0 auto; /*Center container on page*/
}

#topsection
{
    background: #EAEAEA;
    height: 90px; /*Height of top section*/
}

#topsection h1
{
    margin: 0;
    padding-top: 15px;
}

#contentwrapper
{
    float: left;
    width: 100%;
}

#contentcolumn
{
    margin-left: 370px; /*Margin for content column. Should be (RightColumnWidth + LeftColumnWidth)*/
}

#leftcolumn
{
    float: left;
    width: 180px; /*Width of left column in pixel*/
    margin-left: -840px; /*Set left margin to -(MainContainerWidth)*/
    background: #C8FC98;
}

#rightcolumn
{
    float: left;
    width: 190px; /*Width of right column in pixels*/
    margin-left: -660px; /*Set right margin to -(MainContainerWidth - LeftColumnWidth)*/
    background: #FDE95E;
}

#footer
{
    clear: left;
    width: 100%;
    background: black;
    color: #FFF;
    text-align: center;
    padding: 4px 0;
}

#footer a
{
    color: #FFFF80;
}

.innertube
{
    margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
    margin-top: 0;
}
