
body{
margin:0;
padding:0;
line-height: 1.5em;
}

b{font-size: 110%;}
em{color: red;}

#topsection{
background: #EAEAEA;
height: 90px; /*Height of top section*/
}

#topsection h1{
margin: 0;
padding-top: 15px;
}

#contentwrapper{
float: left;
width: 100%;
margin-left: -180px; /*Set left margin to -(RightColumnWidth)*/
}

#contentcolumn{
margin: 0 20% 0 180px /*Set margin to 0 (LeftColumnWidth) 0 (RightColumnWidth)*/
}

#leftcolumn{
float: left;
width: 20%; /*Width of left column in percentage*/
margin-left: -20%; /*Set left margin to -(LeftColumnWidth)*/
background: #C8FC98;
}

#rightcolumn{
float: left;
width: 180px; /*Width of right column in pixels*/
background: #FDE95E;
}

#footer{
clear: left;
width: 100%;
background: black;
color: #FFF;
text-align: center;
padding: 4px 0;
}

#footer a{
color: #FFFF80;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}