

body{
margin:0;
padding:0;
line-height: 1.5em;
}

b{font-size: 110%;}
em{color: red;}


#topsection{
background: #EAEAEA;
height: 90px; /*Height of top section*/
}

#topsection h1{
margin: 0;
padding-top: 15px;
}

#columnwrapper{
float: left;
width: 100%;
}

#rightcolumn{
margin: 0 62% 0 20%; /*Margins for right column. Should be "0 contentcolumnWidth 0 rightcolumnWidth*/
background: #FDE95E;
}

#leftcolumn{
float: left;
width: 20%; /*Width of left column in percentage*/
margin-left: -100%;
background: #C8FC98;
}

#contentcolumn{
float: left;
width: 62%; /*Width of right column in percentage*/
margin-left: -62%; /*Set margin to -(contentcolumnWidth)*/
}

#footer{
clear: left;
width: 100%;
background: black;
color: #FFF;
text-align: center;
padding: 4px 0;
}

#footer a{
color: #FFFF80;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}